Package: com.maskman.com
Name: customview
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Mask
Author: Mask
Section: Tweaks
Version: 0.0.1-18+debug
Installed-Size: 144
